@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf");
  font-family: test;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

.contant {
  position: relative;
  height: 100%;
  background: #fff;
  padding: 20rem;
  text-align: center;
}

h1 {
  position: relative;
  font-size: 8rem;
  text-transform: uppercase;
  font-family: test;
  color: #202020;
  z-index: 10;
}
