
  .add-presentation-page{
    margin-left: 230px !important;

  }
  .add-presentation-page .card-comp {
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
    /* margin-left: 3rem; */
    height: 100%;
    /* min-height: 100px; */
    border-radius: 1.2rem;
    border-color: #6495ED;
    border-width: 0.14rem;
    background-color: #f2f2f2;
    /* width: 100%; */
    /* min-width: 150px; */
  }
  .add-presentation-page .card-comp .card-body { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .add-presentation-page .card-comp .pointer.card-body {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  .add-presentation-page .card-comp .card-title {
    font-size: 1rem;
    font-family: 'FiraCode', sans-serif;
    /* word-wrap: normal; */
    margin-top: 1rem;
    color: #3c3c3c;
    width: 80%;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .add-presentation-page .card-comp .card-text {
    font-family: 'SourceCodePro', sans-serif;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add-presentation-page .bi-plus{
    
    color:white ;
  }
  

  .add-presentation-page .add-new-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: none;
    padding: 5px;
    min-width: 130px;
    max-width: 140px;
    font-size: 1.2rem;
    background-color: #4285f4;
    text-align: center;
   }
   .add-presentation-page .add-new-btn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: none;
    padding: 5px;
    min-width: 130px;
    max-width: 140px;
    font-size: 1.2rem;
    background-color: #3f5fa2;
    text-align: center;
   }
  