.signin__google-link {
    display: inline-block;
  }
  .signin__google-link .nsm7Bb-HzV7m-LgbsSe-BPrWId {
    display: none !important;
  }
  .nsm7Bb-HzV7m-LgbsSe .n1UuX-DkfjY {
    display: none !important;
  }
  .ssJRIf {
    display: none !important;
  }