.papers-page-content {
  /* border: 10px solid #efefef;
  border-radius: 1rem;
  overflow: auto; */
  padding: 2.5rem;
  /* margin-top: auto; */
  /* aspect-ratio: 8 / 5; */
  height: -webkit-fill-available;

}

.papers-page-content .details {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 1rem;
}

.papers-page-content .details:not(:last-child) {
  border-bottom: 5px dotted #ffffff;
}

.papers-page-content .details #topic-name {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}
.papers-page-content .details #authors {
  font-size: 1.2rem;
  color: rgb(88, 88, 88);
  margin-bottom: 1rem;
}
.papers-page-content .details #place {
  font-size: 1.2rem;
  color: rgb(164, 164, 164);
  margin-bottom: 1rem;
}
.papers-page-content .details #links {
  font-size: 1.2rem;
  color: #589cf7;
  margin-bottom: 1rem;
}

.papers-page-content .details #links a {
  margin-right: 1rem;
  font-weight: 900;
  text-underline-position: from-font;
}

@media screen and (max-width: 768px) {
  .papers-page-content{
  
  }
}

