
@font-face {
  font-family: 'QuickSand';
  src: url(../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf) ;
  
}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  
  /* height: 100%; */
  /* border: 10px solid #efefef;
  border-radius: 1rem;
  overflow: auto; */
  /* aspect-ratio: 7 / 5; */
  /* height: 518px; */
}
.card_Avatar {
  max-height: 250px;
  max-width: 250px;
}
.profile-image {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  /* height: 100%; */
  flex-direction: column;
}

.profile-image::after {
}
@media screen and (max-width: 767px) {
  .partition-dash {
    /* content: ""; */
    width: 40%;
    margin-top: 15px;
    border: 10px solid #efefef;
    /* background-color: #589cf7; */
  }
  .wrapper{
    border: 10px solid #efefef;
    border-radius: 1rem;
    /* overflow: auto; */
  }
  .home-page-content {
    display: flex;
    margin: 0;
    padding-top: 20px;
    /* margin-left: 50px;
    margin-right: 50px; */
    flex-direction: column;
    min-width: 450px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'QuickSand';
  }
  
}
@media screen and (min-width: 767px) {
  .profile-image::after {
    content: "";
    height: 40%;
    width: 10px;
    border-radius: 0.5rem;
    position: absolute;
    right: 0;
    top: 30%;
    background-color: #efefef;
  }
  .wrapper{
    border: 10px solid #efefef;
    border-radius: 1rem;
    overflow: auto;
    aspect-ratio: 8 / 5;
  }
  .home-page-content {
    display: flex;
    width: 50%;
    max-width: 1000px;
    /* margin-left: 25%;
    margin-right: 25%; */
    margin: auto;
    flex-direction: column;
    min-width: 450px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'QuickSand';
  }
}

#personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  /* padding-left: 6rem;
    padding-right: 6rem; */
  height: 100%;
}
#college-name {
  font-size: 2rem;
}
#post-name {
  font-size: 1.2rem;
}

#location {
  font-size: 1.2rem;
}

#designation {
  font-size: 1.2rem;
  max-width: 320px;
  display: flex;
}

a,
i {
  font-family: "Source code pro", sans-serif;
  font-weight: bold;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

a {
  color: #589cf7;
  cursor: pointer;
}
a:hover {
  color: #1155cc;
  cursor: pointer;
}

.social-app-icons {
  max-width: 400px;
  min-width: 200px;
  display: flex;
  justify-content: space-around;
}
.social-app-icons a i {
  font-size: 1.5rem;
  
}
